.profile-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc; /* Línea de separación */
}

.profile-info p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center; /* Centrar el botón */
    margin-top: 20px; /* Separar del formulario */
}

.btn-edit, .btn {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-edit:hover, .btn:hover {
    background-color: #004d40;
}

.password-form {
    margin-top: 30px;
}

.password-form h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.password-form .input-group {
    margin-bottom: 20px;
}
