/* Hero Container */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
  background-color: white; /* Color de fondo más neutro para un tema tecnológico */
}

/* Bienvenida */
.welcome-message {
  margin-bottom: 30px;
}

.welcome-message h2 {
  font-size: 2.5rem;
  color: #00796b; /* Color más tecnológico, verde azulado */
  font-weight: bold;
}

.welcome-message p {
  font-size: 1.2rem;
  color: #444; /* Color más oscuro para mayor contraste */
  margin-top: 10px;
}

/* Hero Text */
.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #212121; /* Un gris oscuro para un aspecto más moderno */
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555; /* Gris más suave para el texto descriptivo */
  margin-bottom: 30px;
}

/* Botones */
.hero-btns {
  margin-top: 20px;
}

.btns {
  background-color: #00796b; /* Color verde azulado para modernidad */
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btns:hover {
  background-color: #004d40; /* Color más oscuro al hacer hover */
  transform: scale(1.05);
}

/* Hero Images */
.hero-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.hero-image {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
